<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="/register_handler/" method="post">
        用&nbsp&nbsp户&nbsp&nbsp名：<input type="text" name="us" placeholder="请输入用户名"/><br>
        密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码：<input type="password" name="pw" /><br>
        确认密码：<input type="password" name="pw_confirm" /><br>
        <button type="submit">注册</button>
        <a href="/login/"><button type="button">登录</button></a>
    </form>
</body>
</html>