<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二个页面</title>
</head>
<body>
<span class="specific">
    1 1、url的语法
    2 url(regex,views,kwargs,name)
    3 name：为了给当前的url或地址起别名，反向解析时用。
    4 反向解析：通过name的值来匹配出对应的regex(地址)
    5 url(regex,views,kwargs=None,name='别名')
    6
    7 2、在模板中通过别名找地址



</span>
    <a href="{% url 'to1' %}"><h1>链接到index1页面</h1></a>



Django重点之url别名
http://www.cnblogs.com/lmh001/p/9585535.html

<h3>不要用admin管理页面实验这个功能，识别不了，页面都打不开</h3>

</body>
</html>