<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="keywords" content="药房网，手机买药,仁和药业">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <style>

    </style>
</head>
<body>
    <div id="headerpage">
        <div width="50%">
            <h1>这是首页</h1>
        </div>
        <div width="50%">
            欢迎登录 <a href="/login/">退出</a>
        </div>
    </div>
    <main>
        <div id="left_main">
            <img src="/static/images/login_slogan.png">
        </div>
    </main>
</body>
</html>